<div class="container">
  
  <div class="content">
    <h3>Sign Up</h3>
        <label for="psw">Full Name</label>

    <input type="text" class="input-field" placeholder="Jane Doe" name="uname"  required>
    
    <label for="psw">email</label>

    <input type="text" class="input-field" placeholder="jane@email.com" name="uname" required>

    <label for="psw">Password</label>
    <input type="password" class="input-field" placeholder="" name="psw" required>
       <label for="psw">Confirm Password</label>
    <input type="password" class="input-field" placeholder="" name="psw" required>



    <div class="wrapper">
      <label>
        <input type="checkbox" class="check" checked="checked" name="remember"> Remember me
      </label>
      
    </div>
        <button type="submit">Register</button>
      

     
    
      <span> Do you have account? <a href="">login
        </a></span>
  </div>
  
  
  
  <div class="right">
    <div class="content-top">
    
      
  </div>
</div>
  
