<%= stylesheet_link_tag "login.css" %>

<div class="container">
  
  <div class="content">
    <h3>Login</h3>
        <label for="psw">usernname</label>

    <input type="text" class="input-field" placeholder="" name="uname" required>

    <label for="psw">Password</label>
    <input type="password" class="input-field" placeholder="" name="psw" required>



    <div class="wrapper">
      <label>
        <input type="checkbox" class="check" checked="checked" name="remember"> Remember me
      </label>
      
    </div>
        <button type="submit">Login</button>
      

  <div class="forget">
    
    <span class="psw">Forgot <a href="#">password? </a>
     
    </span> 
     <a href="">
      Register
      </a>
  </div>
  </div>
  
  
  
  <div class="right">
    <div class="content-top">
    
      
  </div>
</div>
  
<!--   <br>
   <img src="https://i.imgur.com/LAOlMpl.png"> -->